/***************** Police ***********************************/
@font-face {
    font-family: "Glyphicons Halflings";
    src: url("../public/police/glyphicons-halflings-regular.ttf");
}

html {
    position: relative;
    min-height: 100%;
}
/****************** Body ************************************/
body{
    color:#333;
    font-family: "Glyphicons Halfings", Arial, sans-serif;
    margin-bottom: 60px;
}

#login-buttons {
    display: block;
}

#login-buttons a {
    color: #9d9d9d;
}

#login-buttons a:hover{
    color: cyan;
}

.return-message {
    display: block;
    padding-top: 10px;
}