<template name="listRoutes">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Rechercher des routes par adresse IP source, communauté ou destination</h3>
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="10.3.1.10/24" />
                        <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>
        Sous-réseaux annoncés
        <a id="reload-btn" class="small" href="#">
            <span class="glyphicon glyphicon-refresh"></span>
        </a>
    </h2>

    <table class="table table-hover">
        <thead>
        <tr>
            <th class="text-center">#</th>
            <th>Réseau</th>
            <th>Next hop</th>
            <th>Préférence locale</th>
            <th>Communautés</th>
            <th>Créé le</th>
            <th>Modifié le</th>
            {{#if currentUser}}
                <th class="text-center">Actions</th>
            {{/if}}
        </tr>
        </thead>
        <tbody>
        <tr id="element-1">
            <th class="index" scope="row">1</th>
            <td class="cidr">1.1.1.0/24</td>
            <td>198.51.100.42</td>
            <td class="local_pref"></td>
            <td id="com-2">1337:1984</td>
            <td id="date-1">mardi 15 septembre 2015 13:43</td>
            <td id="mod-date-1">mardi 19 décembre 2017 22:19</td>
            {{#if currentUser}}
                <td class="text-center">
                    <a id="mod-2" href="#" data-id="2" data-cidr="1.1.1.0/24" data-next-hop="198.51.100.42" data-local_pref="" data-communities="1337:1984">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a id="delete-2" href="#">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            {{/if}}
        </tr>
        </tbody>
    </table>
</template>
